{% extends "index.html" %}
{% block title %}
<title>page | Contact</title>
{% endblock %}

<body>
    <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/profile/">Profile</a></li>
        <li> <a href="/about/">About</a></li>
        <li> <a href="/contact/">Contact</a></li>
        <li> <a href="/gallery/">Gallery</a></li>
    </ul>
    {% block data %}
    <h1>This is Contact Page!!</h1>
    <h2>Name: {{name}}</h2>
    <h2>Phone: {{phone}}</h2>
    <h2>Email: {{email}}</h2>
    {% endblock %}