{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/style/css/style.css' %}">
    <title>Task for intern-DeepSynergy</title>
</head>

<body>
    <!-- header part started -->
    <div class="container-fluid text-center p-2 top-text sticky-top">
        NEW! Access up to $1MM of working capital instantly.
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary nav-color sticky-top">
        <div class="container-fluid ps-5 pe-5">
            <a class="navbar-brand" href="#"><img src="{% static '/image/darklogo.svg' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">For Buyers</a></li>
                            <li><a class="dropdown-item" href="#">For Vendors</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Contact</a>
                    </li>
                    <li class="nav-item ms-4 me-2">
                        <a class="nav-link active" id="login" href="#"> Login</a>
                    </li>
                    <li class="">
                        <button id="get-button">Get Started</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- header part ended -->

    <!-- second-section begin -->
    <div class="container-fluid text-center second-section">
        <br><br>
        <h5>CONTACT</h5>
        <br>
        <h1>Let's connect</h1>
        <br>
        <span>Please fill out the form below and we'll reach out right away.</span>
        <br><br><br><br>
        <div class="container text-start">
            <form action="" method="post">
                <div class="row mb-3">
                    <div class="col-md-6 mb-2">
                        <label>First name</label>
                        <input class="form-control" type="text" name="fname" id="fname" required>
                    </div>
                    <div class="col-md-6 mb-2">
                        <label>Last name</label>
                        <input class="form-control" type="text" name="lname" id="lname" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 mb-2">
                        <label>Email</label>
                        <input class="form-control" type="email" name="email" id="email" required>
                    </div>
                    <div class="col-md-6 mb-2">
                        <label>Company name</label>
                        <input class="form-control" type="text" name="cname" id="cname" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 mb-2">
                        <label>Job title</label>
                        <input class="form-control" type="text" name="jobtitle" id="jobtitle" required>
                    </div>
                    <div class="col-md-6 mb-2">
                        <label>I'd like to</label>
                        <select name="dropdown" id="dropdown" class="form-control bg-transparent select-border-bottom">
                            <option value="" disabled selected>Please Select</option>
                            <option value="0">Finance my tech stack</option>
                            <option value="1">Offer contract financing to my customers</option>
                            <option value="2">Something else</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12 mb-2">
                        <label>How did you hear about us?</label>
                        <input class="form-control" type="text" name="hear" id="hear" required>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label>Anything else you'd like us to know?</label>
                        <input class="form-control" type="text" name="Anything" id="Anything">
                    </div>
                </div>
                <div class="container text-center mt-4 mb-4 sb-btn">
                    <button>Submit</button>
                </div>
            </form>
            <br><br><br><br><br><br>
        </div>
    </div>
    <!-- second-section ended -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>